<ion-row>
	<ion-col size="9">
		<h2 class="g-font-size-24--xs g-color--primary">
			We Are <br>
			<span class="light">Always Here.</span>
		</h2>
	</ion-col>

	<ion-col size="3" class="g-text-center--xs g-padding-t-20--xs">
		<i class="ti-comments g-font-size-40--xs g-color--primary"></i>
	</ion-col>
</ion-row>

<div class="chat">

	<div class="chat-box">
		<div class="chat-r">
			<div class="sp"></div>
			<div class="mess mess-r">
				<p><img src="img/emoji-1.png" class="emoji">
					Hi, Elias
				</p>
				<div class="check">
					<span>4:00 PM</span>
					<img src="img/check-2.png">
				</div>
			</div>
		</div>
		<div class="chat-l">
			<div class="mess">
				<p>
					Oh! hi <img src="img/emoji-2.png" class="emoji">
				</p>
				<div class="check">
					<span>4:00 PM</span>
				</div>
			</div>
			<div class="sp"></div>
		</div>

	</div>

	<div class="chat-footer">
		<textarea placeholder="Type a message"></textarea>
		<i class="fas fa-paper-plane mic g-font-size-13--xs"></i>
	</div>
</div>
