<div class="top">
	<div class="row">
		<div class="col-xs-9">
			<h2 class="g-font-size-24--xs g-color--primary">
				We Are <br>
				<span class="light">Always Here.</span>
			</h2>
		</div>
		<div class="col-xs-3 g-text-center--xs g-padding-t-20--xs">
			<i class="ti-comments g-font-size-40--xs g-color--primary"></i>
		</div>
	</div>
</div>
<div class="chat">
	<div class="chat-box">

		<div class="chat-l">
			<div class="mess">
				<p>
					Me too. <img src="img/heart.png"  class="emoji">
				</p>
				<div class="check">
					<span>4:00 PM</span>
				</div>
			</div>
			<div class="sp"></div>
		</div>
		<div class="chat-r">
			<div class="sp"></div>
			<div class="mess mess-r">
				<p>
					So where are you going now?
				</p>
				<div class="check">
					<span>4:00 PM</span>
					<img src="img/check-1.png">
				</div>
			</div>
		</div>
	</div>

	<div class="chat-footer">
		<i class="ti-camera emo g-font-size-20--xs g-text-center--xs g-color--primary"></i>
		<textarea placeholder="Type a message"></textarea>
		<i class="ti-share mic g-font-size-20--xs g-text-center--xs g-line-height--30"></i>
	</div>
</div>





