.product-title {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}


.slides{
  margin-top: 10px;
  img{
    border-radius: 10px;
    box-shadow: -1px 11px 13px -6px rgb(87, 86, 86);
  }

  .title{
    position: absolute;
    bottom: 0;
    color: white;
    text-align: left;
    font-weight: bold;
    padding: 10px;
    text-shadow: 1px 1px 2px grey;
  }
}
ion-slide{
  padding-bottom: 20px;
}
.category{
  margin-top: 15px;
  background-color: var(--ion-color-danger);
  color: white;
  padding:5px 25px 5px 25px;
  border-radius: 10px;
  font-size: 12px;
  font-weight: bold;
  box-shadow: -1px 11px 13px -6px var(--ion-color-danger);
}

.listSlides{
  img{
    border-radius: 10px;
    min-height: 200px;
    max-height: 200px;
    box-shadow: -1px 11px 13px -6px rgb(87, 86, 86);
  }
}

ion-segment {
  margin: 0 10px;
}

ion-segment-button {
  text-transform: capitalize;
  transform: scale(.8,.8);
  --indicator-color: transparent;
  color: #969696;

  ion-label {
    position: relative;
    left: -17px;
    font-weight: bolder;
  }
}

.segment-button-checked {
  color: #DE323A;
}

.segment-button-checked:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50%;
  border-bottom: 2px solid #DE323A;
}

.search {
  width: calc(100% - 52px);
  background: white;
  margin: 16px 26px 16px 26px;
  padding: 5px 16px 5px 16px;
  border-radius: 10px;
  box-shadow: 0px 3px 12px 2px rgba(0, 0, 0, 0.16);

  ion-item {
    --inner-padding-end: 0 !important;

    ion-input {
      --placeholder-color: #212121 !important;
      --placeholder-opacity: 0.5;
      --color: #21212150 !important;
    }

    ion-icon {
      color: #21212150 !important;
      margin-right: 10px;
    }

    ion-button {
      height: 35px;
      margin-right: 0 !important;
      --box-shadow: none;

      img {
        transform: rotateZ(90deg);
      }
    }
  }
}
