
<ion-header [translucent]="true" class="ion-no-border">

	<div *ngFor="let basket of basket$ | async; index as i">
		<ion-toolbar class="header-color">

			<ion-buttons slot="start" class="g-font-size-18--xs">
				<ion-back-button>
					<i class="ti-arrow-left g-font-size-18--xs"></i>
				</ion-back-button>
			</ion-buttons>

			<ion-title class="ion-text-center">
				{{basket.basket_name}}
			</ion-title>

			<span slot="end" routerLink="/dashboard" class="g-padding-r-10--xs" (click)="openCalModal()">
				<img class="profile-user-img-main  img-circle "
				src="{{photoUrl}}">
			</span>

		</ion-toolbar>

		<div class="header-basket">
			<div class="basket-cost">
				<div class="row"> 
					<div class="col-xs-6 created-date g-padding-t-20--xs">
						<span class="g-color--white g-font-size-12--xs">
							<i class="ti-calendar g-font-size-18--xs"></i> 
							{{basket.basket_date.toDate() | date:'dd MMM yyyy h:mm'}}
						</span>
					</div>

					<div class="col-xs-6">
						<span class="pull-right">
							<h2 class="g-font-size-18--xs g-color--white">
								{{basket.basket_cost}}
								<small><span class="light g-color--white">RWF</span></small>
							</h2>
						</span>
					</div>
				</div>
			</div>
		</div>

		<ion-segment [(ngModel)]="type" (ionChange)="segmentChanged($event)" scrollable>
			<ion-segment-button value="basket-items" size="4" checked>
				Items
			</ion-segment-button>

			<ion-segment-button value="basket-history" size="4">
				History
			</ion-segment-button>

			<ion-segment-button value="recipes" size="4">
				Recipes
			</ion-segment-button>

		</ion-segment>
	</div>
</ion-header>

<ion-content>

	<div [ngSwitch]="type">

		<div *ngSwitchCase="'basket-items'">
			<div *ngIf="basketItems?.length > 0; else emptyBasket">	

				<ion-list>
					<ion-item-sliding *ngFor="let basketItem of basketItems">
						<ion-item lines="full">
							<ion-label>
								<h2 class="g-font-size-12--xs g-color--primary">{{basketItem.product_id}}</h2>
								<p class="g-font-size-12--xs">{{basketItem.id}}</p>
							</ion-label>
							<ion-note slot="end">
								{{basketItem.quantity}}
							</ion-note>
						</ion-item>
						<ion-item-options side="end">
							<ion-item-option color="success" (click)="editBasketItem(basketItem.id)">
								<i class="ti-pencil-alt g-font-size-18--xs"></i>
							</ion-item-option>
							<ion-item-option color="warning" (click)="deleteBasketItem(basketItem.id)">
								<i class="ti-trash g-font-size-18--xs"></i>
							</ion-item-option>
						</ion-item-options>
					</ion-item-sliding>
				</ion-list>


				<!-- Default Searchbar -->

				<span *ngFor="let challenge of challenges">
					{{challenge.item}}
				</span>



			</div>

			<ng-template #emptyBasket>
				<ion-row class="emptyImage">
					<ion-col>
						<img class="img-responsive g-margin-b-30--xs" src="assets/svg/empty-basket.svg">
					</ion-col>
				</ion-row>
			</ng-template>
		</div>


		<!-- Basket history activity -->
		<div *ngSwitchCase="'basket-history'">	

		</div>

		<!-- Basket history activity -->
		<div  *ngSwitchCase="'recipes'">
			<ion-list>
				<ion-item *ngFor="let recipe of recipes; index as i">
					<ion-avatar slot="start" [routerLink]="['/recipe', recipe.id]">
						<img src="{{recipe.recipe_image}}">
					</ion-avatar>
					<ion-label class="ion-text-wrap">
						<ion-text color="primary">
							<h3 class="g-font-size-12--xs" [routerLink]="['/recipe', recipe.id]">{{recipe.recipe_name | slice:0:30}}</h3>
						</ion-text>
						<ion-text color="secondary">
							<p class="g-font-size-10--xs">{{recipe.recipe_level}}</p>
						</ion-text>
					</ion-label>
					<span slot="end">
						<i class="fas fa-star g-color--primary g-font-size-12--xs"></i>
						<i class="fas fa-star g-color--primary g-font-size-12--xs"></i>
						<i class="fas fa-star g-color--primary g-font-size-12--xs"></i>
						<i class="far fa-star g-color--primary g-font-size-12--xs"></i>
					</span>
				</ion-item>
			</ion-list>	
		</div>

	</div>
	
</ion-content>

<div *ngFor="let basket of basket$ | async; index as i">
	<ion-fab vertical="bottom" horizontal="start" slot="fixed">
		<ion-fab-button>
			<i class="ti-list g-font-size-18--xs"></i>
		</ion-fab-button>
		<ion-fab-list side="end">
			<ion-fab-button color="secondary">
				<i class="ti-pencil-alt g-font-size-18--xs"></i>
			</ion-fab-button>
			<ion-fab-button color="medium">
				<i class="ti-share g-font-size-18--xs"></i>
			</ion-fab-button>
			<ion-fab-button color="warning" (click)="deleteBasket(basket.basket_id)">
				<i class="ti-trash g-font-size-18--xs"></i>
			</ion-fab-button>
		</ion-fab-list>
	</ion-fab>
</div>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
	<ion-fab-button size="small" (click)="openCalModalBasket()">
		<i class="ti-plus"></i>
	</ion-fab-button>
</ion-fab>

