<ion-header [translucent]="true" class="ion-no-border">

	<div *ngFor="let post of post$ | async; index as i">
		<ion-toolbar>
			<ion-buttons slot="start" class="g-font-size-18--xs">
				<span class="g-display-block--xs g-display-inline-block--sm g-margin-b-10--xs g-margin-b-0--sm">
					<a  class=" s-btn s-btn--xs s-btn--primary-bg g-radius--50 ">
						<i class="ti-agenda"></i>	{{post.post_category}}
					</a>
				</span>
			</ion-buttons>
			<span slot="end" class="g-padding-r-10--xs" (click)="openOptionsModal()">
				<i class="ti-more-alt g-font-size-18--xs g-padding-r-10--xs"></i>
			</span>
		</ion-toolbar>

		<ion-toolbar>
			<div class="row">
				<div class="col-xs-12">
					<h2 class="g-font-size-14--xs g-color--primary g-text-left--xs cap-me">
						{{post.post_title}}
						<span class="pull-right g-font-size-10--xs"> {{post.post_date}}</span>
					</h2>
				</div>
			</div>
		</ion-toolbar>

	</div>

</ion-header>

<ion-content>

	<div *ngFor="let post of post$ | async; index as i">
		<div class="post_image">
			<img class="img-responsive post-image" src="{{post.post_image}}" alt="{{post.post_title}}">
		</div>

		<div class="post_main g-padding-x-10--xs">
			<p class="">
				{{post.post_main}}
			</p>
		</div>	

	</div>

</ion-content>

<ion-footer class="ion-no-border">
  <div class="row">
  	<div class="col-xs-4">
  		<i class="ti-heart g-font-size-18--xs g-color--primary"></i> 
  		<span class="g-font-size-12--xs">Like</span>
  	</div>
  	<div class="col-xs-4">
  		<i class="tti-comments g-font-size-18--xs g-color--primary"></i> 
  		<span class="g-font-size-12--xs">Comment</span>
  	</div>
  	<div class="col-xs-4">
  		<i class="ti-share g-font-size-18--xs g-color--primary"></i> 
  		<span class="g-font-size-12--xs">Share</span>
  	</div>
  </div>
</ion-footer>


