<ion-header [translucent]="true" class="ion-no-border">
	<ion-toolbar class="header-color">

		<ion-buttons slot="start" class="g-font-size-18--xs">
			<ion-back-button>
				<i class="ti-arrow-left g-font-size-18--xs"></i>
			</ion-back-button>
		</ion-buttons>

		<ion-title class="ion-text-center">
			Notifications
		</ion-title>

		<span slot="end" class="g-padding-r-10--xs" (click)="openCalModal()">
			<img class="profile-user-img-main  img-circle "
			src="{{photoUrl}}">
		</span>

	</ion-toolbar>

	<div class="row">
		<div class="col-xs-9">
			<h2 class="g-font-size-24--xs g-color--primary">
				Always Stay <br>
				<span class="light">Updated.</span>
			</h2>
		</div>
		<div class="col-xs-3 g-text-center--xs g-padding-t-20--xs">
			<i class="ti-bell g-font-size-40--xs g-color--primary"></i>
		</div>
	</div>
</ion-header>

<ion-content>

</ion-content>
