<ion-header [translucent]="true" class="ion-no-border">
	<ion-toolbar class="header-color">

		<ion-buttons slot="start" class="g-font-size-18--xs">
			<ion-menu-button>
				<i class="fas fa-shopping-basket g-font-size-18--xs"></i>
			</ion-menu-button>
		</ion-buttons>

		<ion-title class="ion-text-center">
			Create Basket
		</ion-title>

		<span slot="end" class="g-padding-r-10--xs">
			<img class="profile-user-img-main  img-circle "
			src="assets/img/header-logo.png"
			alt="Park&Pick Logo">
		</span>

	</ion-toolbar>
</ion-header>




<ion-content>

	<ion-row>
		<ion-col>
			<h2 class="g-font-size-24--xs g-color--primary">
				Your Favorite <br>
				<span class="light">Food Corner</span>
			</h2>
		</ion-col>
	</ion-row>

	<ion-grid>
		<ion-row>
			<ion-col>
				<ion-item button (click)="testClick()" *ngFor="let basket of basket">
					<ion-thumbnail slot="start" class="menu-notification-img img-flud img-circle">
						<img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
					</ion-thumbnail>
					<ion-label class="g-padding-l-20--xs">
						<h3>{{basket.basket_name}}</h3>
						<p>1200 <strong>RWF</strong></p>
					</ion-label>
					<i class="ti-angle-right g-font-size-18--xs g-color--primary"></i>
				</ion-item>
			</ion-col>
		</ion-row>
	</ion-grid>


	<ion-fab vertical="bottom" horizontal="end" slot="fixed">
		<ion-fab-button (click)="presentAlertPrompt()">
			<i class="fas fa-shopping-basket g-font-size-18--xs"></i>
		</ion-fab-button>
	</ion-fab>


</ion-content>



