.saved-basket {
	height : 90px;
	background-color: #FCD9DD;
}

// Slider Style START 
.custon-nav{
  height: 48px;
  width: 20px;
  cursor: pointer;

  vertical-align: middle;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.prev-icon-custom{
  background: url(https://freakyjolly.com/demo/jquery/OwlCarousel2/nav-icon.png) no-repeat scroll 0px 0px;
}
.prev-icon-custom.disabled{
  opacity: 0.4;
  cursor: default;
}
.next-icon-custom{
  background: url(https://freakyjolly.com/demo/jquery/OwlCarousel2/nav-icon.png) no-repeat scroll -32px 0px;
}
.next-icon-custom.disabled{
  opacity: 0.4;
  cursor: default;
}
.slider-nav{
  ion-icon{
    height: 100%;
  }
}

.slide-text{
  position: absolute;
  color: white;
  bottom: 30px;
}

// Slider Style STOP

.emptybasket {
  width: 100%;
}

.emptyImage {
  width: 100%;
}

.my-custom-class {
  .header {
    color : red;
  }
}

.search {
  width: calc(100% - 52px);
  background: white;
  margin: 10px 20px 10px 20px;
  padding: 0px 8px 0px 8px;
  border-radius: 5px;
  box-shadow: 0px 3px 12px 2px rgba(0, 0, 0, 0.16);

  ion-item {
    --inner-padding-end: 0 !important;

    ion-input {
      --placeholder-color: #212121 !important;
      --placeholder-opacity: 0.5;
      --color: #21212150 !important;
      font-size: 14px;
    }

    ion-icon {
      color: #21212150 !important;
      margin-right: 10px;
    }

    ion-button {
      height: 35px;
      margin-right: 0 !important;
      --box-shadow: none;

      img {
        transform: rotateZ(90deg);
      }
    }
  }
}