<ion-header [translucent]="true" class="ion-no-border">
	<ion-toolbar class="header-color">

		<ion-buttons slot="start" class="g-font-size-18--xs">
			<ion-back-button>
				<i class="ti-arrow-left g-font-size-18--xs"></i>
			</ion-back-button>
		</ion-buttons>

		<ion-title class="ion-text-center">
			Your Basket
		</ion-title>

		<span slot="end" class="g-padding-r-10--xs" (click)="openCalModal()">
			<img class="profile-user-img-main  img-circle "
			src="{{photoUrl}}">
		</span>

	</ion-toolbar>

	<div class="row">
		<div class="col-xs-9">
			<h2 class="g-font-size-24--xs g-color--primary">
				The Easiest <br>
				<span class="light">Way To Shop.</span>
			</h2>
		</div>
		<div class="col-xs-3 g-text-center--xs g-padding-t-20--xs">
			<i class="ti-shopping-cart-full g-font-size-40--xs g-color--primary"></i>
		</div>
	</div>

	

	<!-- Scrollable Segment -->
	<ion-segment [(ngModel)]="type" (ionChange)="segmentChanged($event)" scrollable>
		<ion-segment-button value="recent" size="3" checked>
			Recent
		</ion-segment-button>

		<ion-segment-button value="baskets" size="3">
			Baskets
		</ion-segment-button>

		<ion-segment-button value="combos" size="3">
			Combos
		</ion-segment-button>

		<ion-segment-button value="account" size="3">
			Account
		</ion-segment-button>

	</ion-segment>

</ion-header>


<ion-content>

	<div class="row" [ngSwitch]="type">
		<div class="col-xs-12" *ngSwitchCase="'recent'"></div>

		<div class="col-xs-12" *ngSwitchCase="'baskets'">
			<div *ngIf="basket?.length > 0; else emptyBasket">
				<div class="search" *ngIf="basket?.length > 0">
					<ion-item lines="none" class="ion-no-padding">
						<ion-icon slot="start" name="search-outline"></ion-icon>
						<ion-input placeholder="search basket..."></ion-input>
						<span slot='end'>
							<i class="ti-panel g-font-size-22--xs g-color--primary"></i>
						</span>
					</ion-item>
				</div>

				<div class="row">
					<div class="col-xs-12">
						<ion-list>
							<ion-item-sliding *ngFor="let basket of basket">
								<ion-item lines="full" [routerLink]="['/basket', basket.basket_id]">
									<span slot="start">
										<i class="fas fa-shopping-basket g-font-size-18--xs g-color--primary"></i>
									</span>
									<ion-label>
										<h2 class="g-font-size-12--xs g-color--primary heavy">{{basket.basket_name}}</h2>
										<p class="g-font-size-10--xs">{{basket.basket_date.toDate() | date:'dd MMM yyyy h:mm'}}</p>
									</ion-label>
									<ion-note slot="end">
										<span class="g-font-size-14--xs g-color--primary">
											<strong>{{basket.basket_cost}}</strong>RWF
										</span>
									</ion-note>
								</ion-item>
								<ion-item-options side="end">
									<ion-item-option color="danger" (click)="deleteBasket(basket.basket_id)">
										<i class="ti-trash g-font-size-18--xs"></i>
									</ion-item-option>
								</ion-item-options>
							</ion-item-sliding>
						</ion-list>
					</div>
				</div>

				<div class="fixed-bottom g-text-center--xs g-margin-b-20--xs" (click)="createBasketPrompt()">
					<button class="text-uppercase s-btn s-btn--sm s-btn--primary-bg g-radius--50 g-padding-x-80--xs">
						<i class="fas fa-shopping-basket g-font-size-18--xs"></i> 
						Create Basket
					</button>
				</div>


			</div>
			<ng-template #emptyBasket>

				<ion-row class="emptybasket">
					<ion-col>

						<ion-row class="emptyImage">
							<ion-col>
								<img class="img-responsive g-margin-b-30--xs" src="assets/svg/no-basket.svg">
							</ion-col>
						</ion-row>

						<ion-row class="emptyImage">
							<ion-col class="g-text-center--xs">
								<h2 class="g-font-size-18--xs g-color--primary">No Basket Yet</h2>
								<p>
									Seems like you have not yet created a basket. Please click the button below to create your first basket.
									<br>
									Not sure how the Park&Pick basket works click here to 
									<a routerLink="/basket-tour">take a tour</a>
									of the basket experience.
								</p>
							</ion-col>
						</ion-row>

					</ion-col>
				</ion-row>

				<div class="fixed-bottom g-text-center--xs g-margin-b-20--xs" (click)="createBasketPrompt()">
					<button type="submit" class="text-uppercase s-btn s-btn--sm s-btn--primary-bg g-radius--50 g-padding-x-80--xs">
						<i class="fas fa-shopping-basket g-font-size-18--xs"></i> 
						Create Basket
					</button>
				</div>

			</ng-template>
		</div>



		<div class="col-xs-12" *ngSwitchCase="'combos'">
			

		</div>



		<div class="col-xs-12" *ngSwitchCase="'account'">

			<div class="row">
				<div class="col-xs-12 g-padding-y-20--xs g-text-center--xs g-color--primary">
					<i class="ti-wallet g-font-size-18--xs"></i>
					<span class="g-font-size-42--xs">
						{{points}}
					</span>
					<span class="g-font-size-12--xs ">
						Points
					</span>
				</div>
			</div>

			<div class="account-recent">

				<span *ngFor="let acc_act of account_activity">

					<div class="transaction-true" *ngIf="acc_act.complete;else other_content">
						<ion-item lines="none" class="ion-no-padding">
							<i class="ti-upload" slot="start" *ngIf="acc_act.action==='add'"></i>
							<i class="ti-download" slot="start" *ngIf="acc_act.action==='remove'"></i>
							<span class="pull-left g-padding-r-10--xs">{{acc_act.points}} Points</span>
							<span class="g-font-size-10--xs g-color--primary">{{acc_act.date.toDate() | date:'dd MMM yyyy h:mm'}}</span>
							<span slot='end'>
								<i class="ti-check-box g-font-size-22--xs g-color--success"></i>
							</span>
						</ion-item>
					</div>

					<ng-template #other_content>
						<div class="transaction-false">
							<ion-item lines="none" class="ion-no-padding">
								<i class="ti-upload" slot="start" *ngIf="acc_act.action==='add'"></i>
								<i class="ti-download" slot="start" *ngIf="acc_act.action==='remove'"></i>
								<span class="pull-left g-padding-r-10--xs">{{acc_act.points}} Points</span>
								<span class="g-font-size-10--xs g-color--primary">{{acc_act.date.toDate() | date:'dd MMM yyyy h:mm'}}</span>
								<span slot='end'>
									<i class="ti-face-sad g-font-size-22--xs g-color--warning"></i>
								</span>
							</ion-item>
						</div>
					</ng-template>

				</span>

			</div>

			<div class="account-info">
				<ion-list>
					<ion-item lines="full">
						<i class="ti-mobile g-font-size-18--xs g-color--primary" slot="start"></i>
						<span> {{phone}}</span>
						<span slot="end" (click)="changePhone()">  <i class="ti-pencil-alt"></i> </span>
					</ion-item>

					<ion-item lines="full" style="padding:0px !important;">
						<i class="ti-email g-font-size-18--xs g-color--primary" slot="start"></i>
						<span> {{email}}</span>
						<span slot="end" (click)="changeEmail()"> <i class="ti-pencil-alt"></i> </span>
					</ion-item>

				</ion-list>
			</div>
			

			<div class="fixed-bottom g-text-center--xs g-margin-b-20--xs" (click)="buyPoints()">
				<button type="submit" class="s-btn s-btn--sm s-btn--primary-bg g-radius--50 g-padding-x-80--xs">
					Buy Points
				</button>
			</div>
		</div>
	</div>

</ion-content>



