.slides{
  margin-top: 10px;
  img{
    border-radius: 10px;
    box-shadow: -1px 11px 13px -6px rgb(87, 86, 86);
  }

  .title{
    position: absolute;
    bottom: 0;
    color: #DE323A;
    font-size: 18px;
    text-align: left;
    font-weight: bold;
    padding: 10px;
    text-shadow: 1px 1px 2px grey;
  }
}