<ion-header [translucent]="true" class="ion-no-border">
	<ion-toolbar class="header-color">
		<ion-buttons slot="start">
			<ion-menu-button>
				<i class="fas fa-store g-font-size-16--xs"></i>
			</ion-menu-button>
		</ion-buttons>

		<ion-title class="ion-text-center">
			Park&Pick
		</ion-title>

		<span slot="end" class="g-padding-r-10--xs" (click)="openCalModal()">
			<img class="profile-user-img-main  img-circle "
			src="{{photoUrl}}">
		</span>
	</ion-toolbar>

	<ion-toolbar>
		<!-- Scrollable Segment -->
		<ion-segment [(ngModel)]="type" (ionChange)="segmentChanged($event)" scrollable>
			<ion-segment-button value="home" checked>
				<i class="ti-home g-font-size-24--xs g-color--primary"></i>
			</ion-segment-button>

			<ion-segment-button value="list">
				<i class="ti-menu-alt g-font-size-24--xs g-color--primary"></i>
			</ion-segment-button>

			<ion-segment-button value="recipe">
				<i class="ti-book g-font-size-24--xs g-color--primary"></i>
			</ion-segment-button>

			<ion-segment-button value="combo">
				<i class="ti-gift g-font-size-24--xs g-color--primary"></i>
			</ion-segment-button>

			<ion-segment-button value="watch">
				<i class="ti-video-clapper g-font-size-24--xs g-color--primary"></i>
			</ion-segment-button>

			<ion-segment-button value="delivery">
				<i class="ti-location-pin g-font-size-24--xs g-color--primary"></i>
			</ion-segment-button>

		</ion-segment>

	</ion-toolbar>
</ion-header>

<ion-content>


	<div [ngSwitch]="type">

		<ion-row *ngSwitchCase="'home'">
			<ion-col>
				<app-dash></app-dash>
			</ion-col>
		</ion-row>

		<ion-row *ngSwitchCase="'list'">
			<ion-col>
				<app-list></app-list>
			</ion-col>
		</ion-row>

		<ion-row *ngSwitchCase="'recipe'">
			<ion-col>
				<app-recipes></app-recipes>
			</ion-col>
		</ion-row>


		<ion-row *ngSwitchCase="'combo'">
			<ion-col>
				<app-combo></app-combo>
			</ion-col>
		</ion-row>

		<ion-row *ngSwitchCase="'watch'">
			<ion-col>
				<app-watch></app-watch>
			</ion-col>
		</ion-row>

		<ion-row *ngSwitchCase="'delivery'">
			<ion-col>
				<app-maps></app-maps>
			</ion-col>
		</ion-row>

	</div>

	
</ion-content>
