<ion-header [translucent]="true" class="ion-no-border">
	<ion-toolbar class="header-color">

		<ion-buttons slot="start">
			<ion-menu-button>
				<i class="fas fa-store g-font-size-16--xs"></i>
			</ion-menu-button>
		</ion-buttons>

		<ion-title class="ion-text-center">
			Park&Pick
		</ion-title>

		<span slot="end" class="g-padding-r-10--xs">
			<img class="profile-user-img-main  img-circle "
			src="assets/img/header-logo.png"
			alt="Park&Pick Logo">
		</span>

	</ion-toolbar>

	<ion-toolbar>
		<!-- Scrollable Segment -->
		<ion-segment [(ngModel)]="type" (ionChange)="segmentChanged($event)" scrollable>
			<ion-segment-button value="home" checked>
				<i class="fas fa-home g-font-size-18--xs"></i>
			</ion-segment-button>

			<ion-segment-button value="list">
				<i class="far fa-list-alt g-font-size-18--xs"></i>
			</ion-segment-button>

			<ion-segment-button value="recipe">
				<i class="fas fa-concierge-bell g-font-size-18--xs"></i>
			</ion-segment-button>

			<ion-segment-button value="messages">
				<i class="far fa-comments g-font-size-18--xs"></i>
			</ion-segment-button>

			<ion-segment-button value="delivery">
				<i class="fas fa-map-marker-alt"></i>
			</ion-segment-button>

		</ion-segment>

	</ion-toolbar>
</ion-header>

<ion-content>


	<div [ngSwitch]="type">

		<ion-row *ngSwitchCase="'home'">
			<ion-col>
				<app-dash></app-dash>
			</ion-col>
		</ion-row>

		<ion-row *ngSwitchCase="'list'">
			<ion-col>
				<app-list></app-list>
			</ion-col>
		</ion-row>

		<ion-row *ngSwitchCase="'recipe'">
			<ion-col>
				<app-recipes></app-recipes>
			</ion-col>
		</ion-row>

		<ion-row *ngSwitchCase="'messages'">
			<ion-col>
				<app-messaging></app-messaging>
			</ion-col>
		</ion-row>

		<ion-row *ngSwitchCase="'delivery'">
			<ion-col>
				<app-maps></app-maps>
			</ion-col>
		</ion-row>

	</div>


	
</ion-content>
