<div class="row">
	<div class="col-xs-9">
		<h2 class="g-font-size-24--xs g-color--primary">
			Healthy Meals <br>
			<span class="light">Everyday!</span>
		</h2>
	</div>
	<div class="col-xs-3 g-text-center--xs g-text-center--xs g-padding-t-20--xs">
		<i class="ti-face-smile g-font-size-40--xs g-color--primary"></i>
	</div>
</div>

<div class="search">
	<ion-item lines="none" class="ion-no-padding">
		<ion-icon slot="start" name="search-outline"></ion-icon>
		<ion-input placeholder="search recipes..."></ion-input>
		<span slot='end'>
			<i class="ti-panel g-font-size-22--xs g-color--primary"></i>
		</span>
	</ion-item>
</div>



<div class="row">
	<div class="col-xs-12">
		<ion-slides class="slides" [options]='slideOpts'>
			<ion-slide *ngFor="let recipe of recipes | slice:0:6; let i=index">
				<div [routerLink]="['/recipe', recipe.id]">
					<img src="{{recipe.recipe_image}}">
					<p class="title">{{recipe.recipe_name}}</p>
				</div>
			</ion-slide>
		</ion-slides>
	</div>
</div>

<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<ion-toolbar>
			<!-- Scrollable Segment -->
			<ion-segment [(ngModel)]="type" (ionChange)="segmentChanged($event)" scrollable>
				<ion-segment-button value="breakfast" checked>
					Breakfast
				</ion-segment-button>

				<ion-segment-button value="lunch">
					Lunch
				</ion-segment-button>

				<ion-segment-button value="supper">
					Diner
				</ion-segment-button>

			</ion-segment>

		</ion-toolbar>
	</div>
</div>

<div class="row" [ngSwitch]="type">
	<div class="col-xs-12" *ngSwitchCase="'breakfast'">
		<span *ngFor="let breakfast of allBreakfast; index as i">
			<ion-card [routerLink]="['/recipe', breakfast.id]">
				<img src="{{breakfast.recipe_image}}" alt="">
				<ion-card-header>
					<ion-card-subtitle class="g-font-size-12--xs">
						<div class="additional-info">
							<div class="attendees">
								<img src="../../assets/img/users/user2.png" class="img-circle" />
								<img src="../../assets/img/users/user1.png" class="img-circle" />
								<img src="../../assets/img/users/user3.png" class="img-circle" />
								<div class="count">
									<img src="../../assets/img/users/person-placeholder.svg" />
									<p>+7</p>
								</div>
							</div>
							<span class="pull-right">
								<i class="fas fa-star g-font-size-12--xs g-color--primary"></i>
								<i class="fas fa-star g-font-size-12--xs g-color--primary"></i>
								<i class="fas fa-star g-font-size-12--xs g-color--primary"></i>
								<i class="far fa-star g-font-size-12--xs g-color--primary"></i>
							</span>
						</div>
						
					</ion-card-subtitle>
					<ion-card-title class="g-font-size-14--xs g-color--primary">{{breakfast.recipe_name}}</ion-card-title>
				</ion-card-header>
			</ion-card>
		</span>
	</div>

	<div class="col-xs-12" *ngSwitchCase="'lunch'">
		<span *ngFor="let lunch of allLunch; index as i">
			<ion-card [routerLink]="['/recipe', lunch.id]">
				<img src="{{lunch.recipe_image}}" alt="">
				<ion-card-header>
					<ion-card-subtitle class="g-font-size-12--xs">
						<div class="additional-info">
							<div class="attendees">
								<img src="../../assets/img/users/user2.png" class="img-circle" />
								<img src="../../assets/img/users/user1.png" class="img-circle" />
								<img src="../../assets/img/users/user3.png" class="img-circle" />
								<div class="count">
									<img src="../../assets/img/users/person-placeholder.svg" />
									<p>+7</p>
								</div>
							</div>
							<span class="pull-right">
								<i class="fas fa-star g-font-size-12--xs g-color--primary"></i>
								<i class="fas fa-star g-font-size-12--xs g-color--primary"></i>
								<i class="fas fa-star g-font-size-12--xs g-color--primary"></i>
								<i class="far fa-star g-font-size-12--xs g-color--primary"></i>
							</span>
						</div>
						
					</ion-card-subtitle>
					<ion-card-title class="g-font-size-14--xs g-color--primary">{{lunch.recipe_name}}</ion-card-title>
				</ion-card-header>
			</ion-card>
		</span>
	</div>
	<div class="col-xs-12" *ngSwitchCase="'supper'">
		<span *ngFor="let diner of allDiner; index as i">
			<ion-card [routerLink]="['/recipe', diner.id]">
				<img src="{{diner.recipe_image}}" alt="">
				<ion-card-header>
					<ion-card-subtitle class="g-font-size-12--xs">
						<div class="additional-info">
							<div class="attendees">
								<img src="../../assets/img/users/user2.png" class="img-circle" />
								<img src="../../assets/img/users/user1.png" class="img-circle" />
								<img src="../../assets/img/users/user3.png" class="img-circle" />
								<div class="count">
									<img src="../../assets/img/users/person-placeholder.svg" />
									<p>+7</p>
								</div>
							</div>
							<span class="pull-right">
								<i class="fas fa-star g-font-size-12--xs g-color--primary"></i>
								<i class="fas fa-star g-font-size-12--xs g-color--primary"></i>
								<i class="fas fa-star g-font-size-12--xs g-color--primary"></i>
								<i class="far fa-star g-font-size-12--xs g-color--primary"></i>
							</span>
						</div>
						
					</ion-card-subtitle>
					<ion-card-title class="g-font-size-14--xs g-color--primary">{{diner.recipe_name}}</ion-card-title>
				</ion-card-header>
			</ion-card>
		</span>
	</div>

</div>


