<ion-header class="ion-no-border">
	<div *ngFor="let chef of chef$ | async; index as i">
		<ion-toolbar class="header-color">

			<ion-buttons slot="start" class="g-font-size-18--xs">
				<ion-back-button>
					<i class="ti-arrow-left g-font-size-18--xs"></i>
				</ion-back-button>
			</ion-buttons>

			<ion-title class="ion-text-center">
				
			</ion-title>

			<span slot="end" class="g-padding-r-10--xs" (click)="openCalModal()">
				<img class="profile-user-img-main  img-circle "
				src="{{photoUrl}}">
			</span>

		</ion-toolbar>

		<div (ionChange)="segmentChanged($event)">
			<ion-segment [value]="segmentValue">
				<ion-segment-button value="about">
					<span>About</span>
				</ion-segment-button>
				<ion-segment-button value="recipes">
					<span>Recipes</span>
				</ion-segment-button>
				<ion-segment-button value="videos">
					<span>Videos</span>
				</ion-segment-button>
				<ion-segment-button value="comments">
					<span>Comments</span>
				</ion-segment-button>
			</ion-segment>
		</div>
	</div>
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="scroll($event)" #myContent>

	<div [ngSwitch]="segmentValue">

		<div class="row" *ngSwitchCase="'about'">
			<div class="col-xs-12">
				
			</div>			
		</div>

		<div class="row" *ngSwitchCase="'recipes'">
			<div class="col-xs-12"></div>			
		</div>

		<div class="row" *ngSwitchCase="'videos'">
			<div class="col-xs-12"></div>			
		</div>

		<div class="row" *ngSwitchCase="'comments'">
			<div class="col-xs-12"></div>			
		</div>

	</div>

</ion-content>
