<ion-header [translucent]="true">


	<div *ngFor="let recipe of recipe$ | async; index as i">
		<!--========== PROMO BLOCK ==========-->
		<div class="g-fullheight--md js__parallax-window" style="background: url({{recipe.recipe_image}}) 0% 0 no-repeat fixed;">
			<div class="g-container--md g-text-center--xs g-ver-center--md g-padding-y-0--md">
				<div class="g-margin-b-60--xs g-padding-b-100-xs">
					<ion-toolbar >
						<ion-buttons slot="start">
							<ion-back-button>
								<i class="ti-arrow-left g-font-size-18--xs g-color--primary"></i>
							</ion-back-button>
						</ion-buttons>
						<span slot="end" class="g-padding-r-10--xs">
							<img class="profile-user-img-main  img-circle "
							src="assets/img/header-logo.png"
							alt="Park&Pick Logo">
						</span>
					</ion-toolbar>
				</div>

			</div>
		</div>

		<ion-row >
			<ion-col class="g-text-center--xs g-bg-color--primary">
				<h2 class="g-font-size-16--xs g-color--white">
					{{recipe.recipe_name}}
				</h2>
			</ion-col>
		</ion-row>

	</div>
</ion-header>


<ion-content>
	<div *ngFor="let recipe of recipe$ | async; index as i">
		<div class="row g-padding-y-10--xs">
			<div class="col-xs-3" (click)="addLike()">
				<i class="ti-heart g-color--primary g-font-size-20--xs g-padding-r-5--xs"></i>
				<span class="g-font-size-10--xs">{{recipe.recipe_like}}</span>
			</div>
			<div class="col-xs-3">
				<i class="ti-comments g-color--primary g-font-size-20--xs g-padding-r-5--xs"></i>
				<span class="g-font-size-10--xs">{{recipe.recipe_comment}}</span>
			</div>
			<div class="col-xs-6">
				<span *ngIf="recipe.recipe_chef == 1;else no_chef">
					<span [routerLink]="['/chef', recipe.recipe_chef]">
						<img src="assets/img/default-user.svg" class="chef-profile-img img-flud img-circle" />
						<span class="g-padding-x-10--xs g-font-size-10--xs">Local Chef</span>
					</span>
				</span>
				<ng-template #no_chef>
					<span [routerLink]="['/chef', recipe.recipe_chef]">
						<img src="assets/img/chef/lawrence.png" class="chef-profile-img img-flud img-circle" />
						<span class="g-padding-x-10--xs g-font-size-10--xs">Lawrence Gumbo</span>
					</span>
				</ng-template>
				
			</div>
		</div>

		<ion-row class="recipe-details">
			<ion-col size="4" class="g-text-center--xs">
				<i class="ti-user g-color--grey g-font-size-12--xs g-padding-r-5--xs"></i>
				<span class="g-font-size-10--xs light">Serves {{recipe.recipe_people}}</span>
			</ion-col>

			<ion-col size="4" class="g-text-center--xs">
				<i class="ti-time g-color--grey g-font-size-12--xs g-padding-r-5--xs"></i>
				<span class="g-font-size-10--xs light">{{recipe.recipe_time}} min</span>
			</ion-col>

			<ion-col size="4" class="g-text-center--xs">
				<i class="ti-crown g-color--grey g-font-size-12--xs g-padding-r-5--xs"></i>
				<span class="g-font-size-10--xs light">{{recipe.recipe_level}}</span>
			</ion-col>

		</ion-row>


		<div class="row">
			<div class="col-xs-12">
				<ion-segment [(ngModel)]="type" (ionChange)="segmentChanged($event)" scrollable>
					<ion-segment-button value="ingredients" checked>
						<span>Ingred</span>
					</ion-segment-button>

					<ion-segment-button value="directions">
						<span>Method</span>
					</ion-segment-button>

					<ion-segment-button value="nutrition">
						<span>Nutri</span>
					</ion-segment-button>

					<ion-segment-button value="description">
						<span>Descr</span>
					</ion-segment-button>

					<ion-segment-button value="comments">
						<span>Comments</span>
					</ion-segment-button>
				</ion-segment>
			</div>
		</div>

		<div [ngSwitch]="type">

			<div *ngSwitchCase="'ingredients'">
				<div class="row">
					<div class="col-xs-12">
						<ion-list>
							<ion-item lines="full" *ngFor="let ingredient of ingredient$ | async; index as i">
								<i class="ti-control-record g-color--primary " slot="start"></i>
								<ion-label>
									<span class="g-font-size-12--xs g-line-height--30">{{ingredient.ingredient_name}}</span>
								</ion-label>
							</ion-item>
						</ion-list>
					</div>
				</div>
			</div>

			<div *ngSwitchCase="'directions'">
				<div class="row g-margin-b-10--xs" *ngFor="let method of method$ | async; index as i">
					<div class="col-xs-2 g-text-center--xs">
						<span class="g-font-size-24--xs g-color--primary"> {{method.method_number}}</span>
					</div>
					<div class="col-xs-10">
						<span class="g-font-size-12--xs">{{method.method_main}}</span>
					</div>
				</div>
			</div>

			<div *ngSwitchCase="'nutrition'">
				<div class="row" *ngFor="let nutrition of nutrition$ | async; index as i">
					<div class="col-xs-4">
						<div class="nutrition-circle g-text-center--xs">
							<span class="g-font-size-24--xs">{{nutrition.nutrition_value}}</span>
						</div>
					</div>

					<div class="col-xs-8">
						<div class="row">
							<div class="col-xs-6">
								<i class="fab fa-envira g-font-size-48--xs pull-right my-green"></i>
							</div>
							<div class="col-xs-6">
								<span>Future<br>
								50 Foods</span>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12">
						<h2 class="g-font-size-14--xs g-color--primary">Nutritional information</h2>

						<table class="table table-sm">
							<thead>
								<tr>
									<th style="width: 50%"></th>
									<th style="width: 30%">Performance</th>
									<th style="width: 20%">Total</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let nutritionValue of nutritionInfo$ | async; index as i" class="g-font-size-12--xs">
									<td>{{nutritionValue.nutritionV_name}}</td>
									<td>{{nutritionValue.nutritionV_perfomance}}</td>
									<td>{{nutritionValue.nutritionV_total}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<div *ngSwitchCase="'description'">
				<div class="row">
					<div class="col-xs-12">
						<p class="g-font-size-12--xs">
							{{recipe.recipe_description}}
						</p>
					</div>
				</div>
			</div>

			<div *ngSwitchCase="'comments'">

				<div class="row" *ngFor="let comment of comments$ | async; index as i">
					<div class="col-xs-2">
						<img src="assets/img/director2.png" class="comment_img img-responsive img-circle">
					</div>
					<div class="col-xs-10 user_comment g-margin-b-10--xs">
						<span class="g-font-size-10--xs light">{{comment.comment_main}}</span>
					</div>
				</div>
			</div>

		</div>


	</div>
</ion-content>


<ion-footer>
	<div class="row g-padding-y-10--xs">
		<div class="col-xs-4 g-text-center--xs" (click)="addLike()">
			<i class="ti-heart g-font-size-18--xs g-color--primary g-padding-r-5--xs"></i>
			<span class="g-font-size-12--xs">Like</span>
		</div>
		<div class="col-xs-4 g-text-center--xs" (click)="openCalModal()">
			<i class="ti-comments g-font-size-18--xs g-color--primary g-padding-r-10--xs"></i>
			<span class="g-font-size-12--xs">Comment</span>
		</div>
		<div class="col-xs-4 g-text-center--xs">
			<i class="ti-share g-font-size-18--xs g-color--primary g-padding-r-10--xs"></i>
			<span class="g-font-size-12--xs">Share</span>
		</div>
	</div>
</ion-footer>

