/* Transparent standard */
ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
}

.recipe-details {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	margin-top : 10px;
	height : 30px;
	background-color: #E6E7E8;
	height : auto;
	border-radius : 15px;

}

.recipe-stats{
	line-height: 50px;
}

ion-segment-button {
 text-transform: none;
 width: 20%;
 font-size: 12px;
}

.nutrition-circle {
	height : 60px;
	width : 60px;
	border-radius: 50%;
	border: 1px solid #313325;
	background-color: #2A8440;
	padding : 3px;
	line-height: 50px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	color : #fff;
}
.comments-main {
	background-color: #ccc;
	width : 80%;
	height : 40px;
	border-radius: 20px;
	padding-left : 20px;
	padding-right : 20px;
}

.user_comment {
	background-color: #F2F3F5;
	width : 80%;
	height : auto;
	border-radius: 10px;
	padding : 10px;

}