<ion-header [translucent]="true" class="ion-no-border">
	<ion-toolbar class="header-color">

		<ion-buttons slot="start" class="g-font-size-18--xs">
			<ion-back-button>
				<i class="ti-arrow-left g-font-size-18--xs"></i>
			</ion-back-button>
		</ion-buttons>

		<ion-title class="ion-text-center">
			Add Items To Basket
		</ion-title>

		<span slot="end" routerLink="/dashboard" class="g-padding-r-10--xs">
			<img class="profile-user-img-main  img-circle "
			src="assets/img/header-logo.png"
			alt="Park&Pick Logo">
		</span>

	</ion-toolbar>
</ion-header>

<ion-content>

	<form [formGroup]="basketForm" (ngSubmit)="onSubmit()">

		<div class="row">
			<div class="col-xs-12">
				<ion-list>
					<ion-item>
						<ion-label>Select Market Category</ion-label>
						<ion-select 
							value="brown" 
							okText="Okay" 
							cancelText="Dismiss"
							formControlName="products_category"
						>
							<ion-select-option *ngFor="let category of categoryList" [value]="category.category_name">
								{{category?.category_name}}
							</ion-select-option>
						</ion-select>
					</ion-item>

				</ion-list>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<ion-list>
					<ion-item>
						<ion-label>Select Market Category</ion-label>
						<ion-select 
							value="brown" 
							okText="Okay" 
							cancelText="Dismiss"
							formControlName="product"
						>
							<ion-select-option *ngFor="let prodcts of producted" [value]="prodcts.id">
								{{prodcts.Item}}
							</ion-select-option>
						</ion-select>
					</ion-item>

				</ion-list>
			</div>
		</div>
		
	</form>

</ion-content>
