<ion-header [translucent]="true" class="ion-no-border">
	<ion-toolbar>
		<span slot="end"  class="g-padding-r-10--xs" (click)="closeModel()">
			<i class="ti-close g-font-size-16--xs"></i>
		</span>
	</ion-toolbar>
</ion-header>

<ion-content>

	<div *ngFor="let category of categoryList">
		sds
	</div>



	<form [formGroup]="basketForm" (ngSubmit)="onSubmit()">

		<div class="price_total g-padding-y-30--xs g-font-size-24--xs">
			<span class="light g-font-size-14--xs">RWF</span> 2000000<span class="light g-font-size-14--xs">.00</span>
		</div>


		<div class="select_cat">
			<ion-list>
				<ion-item>
					<ion-label><small>Market Category</small></ion-label>
					<ion-select 
					value="brown" 
					okText="Okay" 
					cancelText="Dismiss"
					formControlName="products_category"
					>
					<ion-select-option class="cap-me" *ngFor="let category of categoryList" [value]="category.category_name">
						<span class="cap-me">{{category?.category_name}}</span>
					</ion-select-option>
				</ion-select>
			</ion-item>
		</ion-list>

		<ion-list>
			<ion-item>
				<ion-label><small>Product</small></ion-label>
				<ion-select 
				value="" 
				okText="Okay" 
				cancelText="Dismiss"
				formControlName="product"
				>
				<ion-select-option *ngFor="let prodcts of producted" [value]="prodcts.id">
					{{prodcts.Item}}
				</ion-select-option>
			</ion-select>
		</ion-item>
	</ion-list>

	<ion-list>
		<ion-item>
			<ion-label><small>Quantity</small></ion-label>
			<ion-select 
			value="" 
			okText="Okay" 
			cancelText="Dismiss"
			formControlName="product"
			>
			<ion-select-option *ngFor="let quantity of basket_quantity" [value]="prodcts.id">
				{{quantity.Item}}
			</ion-select-option>
		</ion-select>
	</ion-item>
</ion-list>
</div>



<div class="fixed-bottom g-text-center--xs g-margin-b-20--xs">
	<button type="submit" class="text-uppercase s-btn s-btn--sm s-btn--primary-bg g-radius--50 g-padding-x-80--xs">
		<i class="fas fa-shopping-basket g-font-size-18--xs"></i> 
		Add To Basket
	</button>
</div>


</form>
</ion-content>



