<div class="mid-first">

  <ion-list>
    <ion-item lines="none" routerLink="/dashboard">
      <i class="ti-home g-font-size-16--xs g-color--primary" slot="start"></i>
      <ion-label>
          <h2 class="g-font-size-12--xs g-color--primary">Home</h2>
          <p class="g-font-size-10--xs">News, Tips, Recipes, Videos</p>
        </ion-label>
    </ion-item>

    <ion-item lines="none" routerLink="/create-basket">
      <i class="ti-shopping-cart-full g-font-size-16--xs g-color--primary" slot="start"></i>
      <ion-label>
          <h2 class="g-font-size-12--xs g-color--primary">Your Basket</h2>
          <p class="g-font-size-10--xs">Create Basket, Account, Combos</p>
        </ion-label>
    </ion-item>

    <ion-item lines="none" routerLink="/market">
      <i class="ti-direction-alt g-font-size-18--xs g-color--primary" slot="start"></i>
      <ion-label>
          <h2 class="g-font-size-12--xs g-color--primary">Visit Our Market</h2>
          <p class="g-font-size-10--xs">Buy, Weekly Specials</p>
        </ion-label>
    </ion-item>

    <ion-item lines="none" routerLink="/messaging">
      <i class="ti-comments g-font-size-16--xs g-color--primary" slot="start"></i>
      <ion-label>
          <h2 class="g-font-size-12--xs g-color--primary">Talk To Seller</h2>
          <p class="g-font-size-10--xs">Send message, FAQs, Contact Us</p>
        </ion-label>
    </ion-item>

    <ion-item lines="none" routerLink="/notifications">
      <i class="ti-bell g-font-size-16--xs g-color--primary" slot="start"></i>
      <ion-label>
          <h2 class="g-font-size-12--xs g-color--primary">Notifications</h2>
          <p class="g-font-size-10--xs">Whats new, Recent activity</p>
        </ion-label>
    </ion-item>

    <ion-item lines="none" routerLink="/settings">
      <i class="ti-settings g-font-size-16--xs g-color--primary" slot="start"></i>
      <ion-label>
          <h2 class="g-font-size-12--xs g-color--primary">Settings</h2>
          <p class="g-font-size-10--xs">Account Information, Delete Account</p>
        </ion-label>
    </ion-item>

  </ion-list>

</div>

