.mid-first {
  height : 100%;
}

.menu-header {
  height : auto;
  background-color: #F7CDD0;
  padding : 5px;
  border-radius: 5px;
  color : #414042;
}

.favCard{
	padding : 0px;
    overflow: visible;
}