/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "src/theme/fonts.scss";

* {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}

.cap-me {
	text-transform : capitalize;
}

.light {
	font-weight: 300;
}
.heavy {
	font-weight: 700;
}

//header
.header-color {
	--background: #DE323A;
	color : #fff;
}

label {
	color: #DE323A;
}

.icon-page {
	line-height : 40px;
}


// Profile images
.menu-profile-img {
	border: 2px solid #DE323A;
	margin: 0 auto;
	padding: 3px;
	width: 100px;
}

.menu-notification-img {
	border: 1px solid #DE323A;
	margin: 0 auto;
	padding: 3px;
	width: 40px;
	height : 40px;
}

.chef-profile-img {
	border: 1px solid #DE323A;
	margin: 0 auto;
	padding: 3px;
	width: 25px;
	height : 25px;
}



.profile-logo-img {
	border: 2px solid #fff;
	margin: 0 auto;
	padding: 3px;
	width: 100px;
}

.profile-user-img-main {
	border: 1px solid #fff;
	margin: 0 auto;
	padding: 3px;
	width: 40px;
	height : 40px;
}

.small-user-img {
	border: 1px solid #fff;
	margin: 0 auto;
	padding: 3px;
	width: 30px;
}

.medium-user-img {
	border: 1px solid #DE323A;
	margin: 0 auto;
	padding: 3px;
	width: 100px;
}



.img-circle {
  border-radius: 50%;
}

.icon-circle {
	margin: 0 auto;
	color : #fff;
	padding: 1px;
	width: 25px;
	height: 25px;
	line-height: 20px;
	background-color: #DE323A;
	border-radius: 50%;
}


.g-line-height--lg {
  line-height: 1.6;
}
.g-padding-t-20--xs {
  padding-top: 20px;
}
.g-padding-b-100-xs {
  padding-bottom: 100px;
}

ion-segment-button {
 text-transform: none;
}

.center-image {
	display: block;
  margin-left: auto;
  margin-right: auto;
}