.comments-main {
	background-color: #ccc;
	width : 80%;
	height : 40px;
	border-radius: 20px;
	padding-left : 20px;
	padding-right : 20px;
}

.user_comment {
	background-color: #F2F3F5;
	width : 80%;
	height : auto;
	border-radius: 10px;
	padding : 10px;

}