<ion-header [translucent]="true" class="ion-no-border">
	<ion-toolbar class="ion-padding">
		<span slot="start" class="g-padding-r-10--xs">
			<i class="ti-heart g-font-size-16--xs"></i>
		</span>

		<span slot="end" class="g-padding-r-10--xs" (click)="closeModal()">
			<i class="ti-close g-font-size-16--xs"></i>
		</span>
	</ion-toolbar>

</ion-header>

<ion-content>

	<div class="chat">
		<div class="chat-box">

				<div *ngFor="let comment of comment$ | async; index as i">
					<div class="row g-margin-b-10--xs">
						<div class="col-xs-2">
							<img src="{{photoUrl}}"  class="img-circle comment-user-img">
						</div>

						<div class="col-xs-10 comment-texted">
							<p class="g-font-size-12--xs heavy">{{comment.displayName}}</p>
							<p class="g-font-size-12--xs">
								{{comment.comment_main}}
							</p>
						</div>
					</div>

				</div>

		</div>


		<form [formGroup]="commentForm" (ngSubmit)="onSubmit()" novalidate>
			<div class="chat-footer">
				<i class="ti-camera emo g-font-size-20--xs g-text-center--xs g-color--primary"></i>
				<textarea 
				formControlName="comment"
				placeholder="Write a comment" 
				required
				>
			</textarea>
			<i class="ti-share mic g-font-size-20--xs g-text-center--xs g-line-height--30" (click)="onSubmit()"></i>
		</div>
	</form>
</div>

</ion-content>

