<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <div class="top">
          <ion-row>
            <ion-col size="4" routerLink="/settings" class="g-text-center--xs">
              <i class="g-padding-r-5--xs ti-settings g-font-size-24--xs g-color--primary"></i><br>
              <span class="g-font-size-12--xs">Settings</span>
            </ion-col>

            <ion-col size="4"></ion-col>

            <ion-col size="4"  routerLink="/info" class="g-text-center--xs">
              <span *ngIf="userRef.accountType ==='farmer'">
                <i class="g-padding-r-5--xs fas fa-tractor g-font-size-24--xs g-color--primary"></i><br>
                <span class="g-font-size-12--xs">Edit Info</span>
              </span>

              <span *ngIf="userRef.accountType ==='vendor'">
                <i class="g-padding-r-5--xs fas fa-tractor g-font-size-24--xs g-color--primary"></i><br>
                <span class="g-font-size-12--xs">Edit Info</span>
              </span>

              <span *ngIf="userRef.accountType ==='customer'">
                <i class="g-padding-r-5--xs fas fa-tractor g-font-size-24--xs g-color--primary"></i><br>
                <span class="g-font-size-12--xs">Edit Info</span>
              </span>
              
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="g-text-center--xs">
              <span *ngIf="userRef.accountType ==='farmer'">
                <img src="assets/img/farmer.png" class="menu-profile-img img-flud img-circle" />
              </span>

              <span *ngIf="userRef.accountType ==='vendor'">
                <img src="assets/img/vendor.png" class="menu-profile-img img-flud img-circle" />
              </span>

              <span *ngIf="userRef.accountType ==='customer'">
                <img src="assets/img/customer.png" class="menu-profile-img img-flud img-circle" />
              </span>

              <h1 class="g-font-size-16--xs g-text-center--xs g-margin-t-10--xs">{{displayName}}</h1>
            </ion-col>
          </ion-row>
        </div>


        <div class="mid">

          <div *ngIf="userRef.accountType ==='customer'">
            <app-user-menu></app-user-menu>
          </div>

          

        </div>


        <div class="bot">
          <button (click)="authService.SignOut()" class="btn-block s-btn s-btn--xs s-btn--primary-bg g-radius--50 g-padding-x-20--xs g-margin-b-20--xs g-font-size-14--xs"
          >Log Out</button>
        </div>

      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
