ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #fff));
}

ion-menu.md ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

.top {
  height : 35%;
}

.mid {
  height : 55%;
}



.mid-first {
  height : 35%;
}

.mid-second {
  height : 65%;
}
.menu-header {
  height : 40px;
  background-color: #DE323A;
}



.bot {
  height : 5%;
}
