<ion-header [translucent]="true" class="ion-no-border">
	<ion-toolbar class="header-color">

		<ion-buttons slot="start" class="g-font-size-18--xs">
			<ion-menu-button>
				<i class="ti-settings g-font-size-18--xs"></i>
			</ion-menu-button>
		</ion-buttons>

		<ion-title class="ion-text-center">
			Settings
		</ion-title>

		<span slot="end" class="g-padding-r-10--xs">
			<img class="profile-user-img-main  img-circle "
			src="{{photourl}}"
			alt="{{displayName}}">
		</span>

	</ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
