<ion-header class="header-color ion-no-border" >
	<ion-toolbar>
		<div class="g-padding-y-30--xs">
			<div class="profile-logo-img img-circle logo" >
				<img src="assets/img/logo.png" class="img-flud" />
			</div>
			<h1 class="g-font-size-22--xs g-text-center--xs  g-text-color--white g-letter-spacing--1">Verify Email Address</h1>
		</div>
	</ion-toolbar>
</ion-header>

<ion-content>

	<ion-row *ngIf="authService.userData as user">
		<ion-col class="g-padding-y-30--xs">
			<p class="g-font-size-14--xs g-text-center--xs  g-color--primary g-letter-spacing--1">
				Confirmation mail has been sent to <strong>{{user.email}}</strong>.
			</p>
		</ion-col>
	</ion-row>

	<ion-row>
		<ion-col>
			<form>
				<ion-row>
					<ion-col class="g-padding-y-20--xs">
						<button type="submit" class="text-uppercase btn-block s-btn s-btn--md s-btn--primary-bg g-radius--50 g-padding-x-50--xs g-margin-b-20--xs" (click)="ngAuthService.SendVerificationMail()">Resend Email</button>
					</ion-col>
				</ion-row>
			</form>
		</ion-col>
	</ion-row>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-row>
    <ion-col size="8">
      <h2 class="g-font-size-18--xs g-color--primary">I Have Verified</h2>
			<p class="g-font-size-12--xs g-color--primary">Please press sign in </p>
    </ion-col>
    <ion-col size="4" class="g-padding-t-20--xs">
      <button routerLink="/sign-in" class="s-btn s-btn--sm s-btn--primary-bg g-radius--50 g-padding-x-20--xs g-margin-b-20--xs g-font-size-14--xs"
      >Sign In</button>
    </ion-col>
  </ion-row>
</ion-footer>
