<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <span slot="end" class="g-padding-r-10--xs" (click)="close()">
      <i class="ti-close g-font-size-18--xs"></i>
    </span>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="profile-image">
    <img src="{{photoUrl}}" class="image-uploaded img-responsive img-circle center">
  </div>

  <!-- <div class="progressed" *ngIf="percentage | async as percent">
    <div class="progress progress-xs">
                  <div class="progress-bar bg-warning progress-bar-striped" role="progressbar"
                       aria-valuenow="{{percent}}" aria-valuemin="0" aria-valuemax="100" style="width: {{percent}}%">
                    <span class="sr-only">Progress: {{percent |  number}}%</span>
                  </div>
                </div>
  </div> -->

  <div class="profile-buttons">
    <div class="row">
      <div class="col-xs-6 g-text-center--xs">
        <a class="btn btn-app" style="height: 80px;" *ngIf="!isLoading  && !isLoaded">
          <i class="ti-camera g-font-size-18--xs g-color--primary"></i>
          <h2 class="g-color--primary g-font-size-14--xs">Take Picture</h2>
        </a>
      </div>
      <div class="col-xs-6 g-text-center--xs">
         <a class="btn btn-app" style="height: 80px;" *ngIf="!isLoading  && !isLoaded">
          <i class="ti-gallery g-font-size-18--xs g-color--primary"></i>
          <h2 class="g-color--primary g-font-size-14--xs">Select File</h2>
        </a>
        <input type="file" (change)="uploadImagetoFirebase($event)" id="file-input"  accept="image/png, image/jpg">
      </div>
    </div>
  </div>

  <div class="bot" *ngIf="isLoading && !isLoaded">
      <button (click)="goToNextPage()" class="btn-block s-btn s-btn--xs s-btn--primary-bg g-radius--50 g-padding-x-20--xs g-margin-b-20--xs g-font-size-14--xs"
      >Continue</button>
    </div>

</ion-content>
