<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title class="g-font-size-18--xs g-color--primary heavy">
      Profile Photo
    </ion-title>
    <span slot="end" class="g-padding-r-10--xs" (click)="closeModal()">
      <i class="ti-close g-font-size-18--xs g-color--primary"></i>
    </span>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="profile-image">
    <img src="{{photoUrl}}" class="image-uploaded img-responsive img-circle center">
  </div>

  <div class="profile-buttons">
    <div class="row">
      <div class="col-xs-6 g-text-center--xs">
        <a class="btn btn-app" style="height: 80px;" *ngIf="!isLoading  && !isLoaded">
          <i class="ti-camera g-font-size-18--xs g-color--primary"></i>
          <h2 class="g-color--primary g-font-size-14--xs">Take Picture</h2>
        </a>
      </div>
      <div class="col-xs-6 g-text-center--xs">
        <label class="btn btn-default btn-file" *ngIf="!isLoading  && !isLoaded">
          <i class="ti-gallery g-font-size-18--xs g-color--primary"></i>
          <h2 class="g-color--primary g-font-size-14--xs">Select File</h2>
          <input type="file" style="display: none;" (change)="uploadImagetoFirebase($event)" id="file-input"  accept="image/png, image/jpg" required>
        </label>

      </div>
    </div>

  </div>


  <div class="fixed-bottom g-text-center--xs g-margin-b-20--xs" (click)="goToNextPage()" *ngIf="isLoading && !isLoaded">
    <button class="text-uppercase s-btn s-btn--sm s-btn--primary-bg g-radius--50 g-padding-x-80--xs">
      <i class="fas fa-shopping-basket g-font-size-18--xs"></i> 
      Save Image
    </button>
  </div>

</ion-content>
