<ion-row>
	<ion-col>
		<article>
			<img class="img-responsive" src="assets/img/ad_1.jpg" alt="Image">
			<div class="g-bg-color--white g-box-shadow__dark-lightest-v2  g-padding-x-10--xs g-padding-y-10--xs">
				<p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--primary g-letter-spacing--2">News</p>
				<h3 class="g-font-size-22--xs g-letter-spacing--1"><a href="https://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes">Jacks of All. Experts in All.</a></h3>
				<p>The time has come to bring those ideas and plans to life.</p>
			</div>
		</article>


	</ion-col>
</ion-row>

<ion-button expand="block" (click)="sendLocalNotification()">
Send Local notification
</ion-button>




