<ion-card class="g-bg-color--white" *ngFor="let tip of tips | slice:0:1; let i=index">
	<ion-card-content>
		<ion-row>
			<ion-col size="2">
				<i class="ti-face-smile g-font-size-32--xs g-color--primary"></i>
			</ion-col>
			<ion-col size="10">
				<h3 class="g-font-size-14--xs g-color--primary">Daily Health Tip</h3>
				<p class="g-font-size-12--xs">
					{{tip.tip}}
				</p>
			</ion-col>
		</ion-row>
	</ion-card-content>
</ion-card>

<ion-row class="post_cat">
	<ion-col>
		<ion-slides class="slides" [options]='slideOpts'>
				<ion-slide *ngFor="let post_cat of posts_cat; index as i">
					<div [routerLink]="['/postcat', post_cat.id]">
						<img src="{{post_cat.postc_image}}">
					</div>
				</ion-slide>
			</ion-slides>
	</ion-col>
</ion-row>

<ion-row class="post" *ngFor="let post of posts">
	<ion-col size="9">
		<span class="g-font-size-12--xs g-color--primary title-text">{{post.post_title}}</span>
		<span class="g-font-size-10--xs g-color--primary pull-right">{{post.post_category}}</span>
		<p class="g-font-size-10--xs">Need to make this text at least this small so that user can understand</p>
	</ion-col>
	<ion-col size="3">
		<img class="img-responsive post-image" src="{{post.post_image}}" alt="{{post.post_name}}">
	</ion-col>
</ion-row>

<ion-button expand="block" (click)="sendLocalNotification()">
	Send Local notification
</ion-button>






