<div class="mid-first">

            <ion-card class="g-bg-color--white">
              <ion-card-content>
                <ion-row routerLink="/create-basket">
                  <ion-col size="1" class="g-text-center--xs">
                    <i class="fas fa-shopping-basket g-font-size-18--xs g-color--primary"></i>
                  </ion-col>
                  <ion-col size="10" class="g-text-center--xs">
                    <h3 class="g-font-size-16--xs g-color--primary">Create Basket</h3>
                  </ion-col>
                  <ion-col size="1" class="g-text-center--xs">
                    <i class="ti-angle-right g-font-size-18--xs g-color--primary"></i>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>

            <ion-card class="g-bg-color--white">
              <ion-card-content>
                <ion-row routerLink="/market">
                  <ion-col size="1" class="g-text-center--xs">
                    <i class="fas fa-store g-font-size-18--xs g-color--primary"></i>
                  </ion-col>
                  <ion-col size="10" class="g-text-center--xs">
                    <h3 class="g-font-size-16--xs g-color--primary">Visit Market</h3>
                  </ion-col>
                  <ion-col size="1" class="g-text-center--xs">
                    <i class="ti-angle-right g-font-size-18--xs g-color--primary"></i>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>

          </div>

          <div class="mid-second">
            <ion-row class="menu-header">
              <ion-col>
               <i class="far fa-bell g-font-size-16--xs g-color--white"></i> 
               <span class="g-font-size-14--xs g-color--white">Notifications</span>
               <span class="g-font-size-14--xs g-color--white pull-right">12</span>
             </ion-col>

             <ion-col>
              <span class="pull-right">
                <button type="button" class="btn btn-block btn-secondary btn-xs">Clear</button>
              </span>
            </ion-col>

          </ion-row>

          <ion-item button (click)="testClick()">
            <ion-thumbnail slot="start" class="menu-notification-img img-flud img-circle">
              <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
            </ion-thumbnail>
            <ion-label class="g-padding-l-20--xs">
              <h3>H3 Title Text</h3>
              <p>Icon on right</p>
            </ion-label>
            <ion-icon name="close-circle" slot="end"></ion-icon>
          </ion-item>


        </div>
