<ion-row>
	<ion-col size="9">
		<h2 class="g-font-size-24--xs g-color--primary">
			The Easiest <br>
			<span class="light">Way To Shop.</span>
		</h2>
	</ion-col>

	<ion-col size="3" class="g-text-center--xs g-padding-t-20--xs">
		<i class="ti-shopping-cart-full g-font-size-40--xs g-color--primary"></i>
	</ion-col>
</ion-row>


<div *ngIf="basket?.length > 0; else emptyBasket">
	<ion-row>
		<ion-col>
			<span *ngFor="let basket of basket">
				<ion-item [routerLink]="['/basket', basket.basket_id]" lines="full">
					<i class="fas fa-shopping-basket g-font-size-18--xs g-color--primary" slot="start"></i>
					<ion-label class="g-padding-l-20--xs">
						<h3>{{basket.basket_name}}</h3>
						<p class="g-font-size-10--xs">
							{{basket.basket_date.toDate() | date:'dd MMM yyyy h:mm'}}
						</p>
					</ion-label>
					<i class="ti-angle-right g-font-size-12--xs g-color--primary" slot="end"></i>
				</ion-item>
			</span>
		</ion-col>
	</ion-row>
</div>
<ng-template #emptyBasket>

	<ion-row class="emptybasket">
		<ion-col>

			<ion-row class="emptyImage">
				<ion-col>
					<img class="img-responsive center-image g-margin-b-30--xs" src="assets/svg/no-basket.svg" style="width: 80%;">
				</ion-col>
			</ion-row>

			<ion-row class="emptyImage">
				<ion-col class="g-text-center--xs">
					<h2 class="g-font-size-18--xs g-color--primary">No Basket Yet</h2>
					<p>
						Seems like you have not yet created a basket. Please click the button below to create your first basket.
						<br>
						<br>
						Not sure how the Park&Pick basket works click here to 
						<a routerLink="/basket-tour">take a tour</a>
						of the basket experience.
					</p>
				</ion-col>
			</ion-row>

		</ion-col>
	</ion-row>

</ng-template>



