 <ion-header [translucent]="true" class="ion-no-border">
	<ion-toolbar class="header-color">
		<ion-buttons slot="start" class="g-padding-l-20--xs g-font-size-18--xs">
			<i class="fas fa-info-circle"></i>
		</ion-buttons>

		<ion-title class="ion-text-center">
			Create Your Account
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>

	<form>
		<ion-row class="profile-image g-margin-b-20--xs">
			<ion-col>
				<ion-card class="g-bg-color--white image-upload">
					<ion-card-content>

						<ion-row>
							<ion-col>
							</ion-col>
						</ion-row>

						<ion-row>
							<ion-col>
							</ion-col>
						</ion-row>

					</ion-card-content>
				</ion-card>
			</ion-col>
		</ion-row>



		<ion-row class="profile-info">
			<ion-col>
				
				<ion-row>
					<ion-col>
						<div class="formGroup">
							<label>First Name</label>
							<input type="text" class="form-control s-form-v3__input g-radius--10" #userName placeholder="* First Name" required>
						</div>
					</ion-col>
				</ion-row>

				<ion-row>
					<ion-col>
						<div class="formGroup">
							<label>Last Name</label>
							<input type="text" class="form-control s-form-v3__input g-radius--10" #userName placeholder="* First Name" required>
						</div>
					</ion-col>
				</ion-row>

				<ion-row>
					<ion-col>
						<div class="formGroup">
							<label>Location</label>
							<input type="text" class="form-control s-form-v3__input g-radius--10" #userName placeholder="* First Name" required>
						</div>
					</ion-col>
				</ion-row>

				<ion-row>
					<ion-col>
						<div class="formGroup">
							<label>Account Type</label>
							<input type="text" class="form-control s-form-v3__input g-radius--10" #userName placeholder="* First Name" required>
						</div>
					</ion-col>
				</ion-row>

			</ion-col>
		</ion-row>

		<ion-row class="inside">
			<ion-col class="inside">
				<button type="submit" class="text-uppercase btn-block s-btn s-btn--md s-btn--primary-bg g-radius--50 g-padding-x-50--xs g-margin-b-20--xs" >Get Started</button>
			</ion-col>
		</ion-row>
	</form>

</ion-content>



