 <ion-header [translucent]="true" class="ion-no-border">
 	<ion-toolbar class="header-color">
 		<ion-buttons slot="start" class="g-padding-l-20--xs g-font-size-18--xs">
 			<i class="fas fa-info-circle"></i>
 		</ion-buttons>

 		<ion-title class="ion-text-center">
 			Create Your Accounts
 		</ion-title>
 	</ion-toolbar>
 </ion-header>


 <ion-content class="ion-padding">


 	<form [formGroup]="editForm" (ngSubmit)="onSubmit()" novalidate>

 		<ion-row class="image-edit">
 			<ion-col></ion-col>
 		</ion-row>

 		<ion-row>
 			<ion-col>
 				<div class="formGroup">
 					<label>First Name</label>
 					<input 
 					type="text" 
 					class="form-control s-form-v2__input g-radius--10" 
 					formControlName="firstname"
 					placeholder="* First Name" 
 					required
 					>
 				</div>
 			</ion-col>
 		</ion-row>

 		<ion-row>
 			<ion-col>
 				<div class="formGroup">
 					<label>Last Name</label>
 					<input 
 					type="text" 
 					class="form-control s-form-v2__input g-radius--10" 
 					formControlName="lastname"
 					placeholder="* Last Name" 
 					required
 					>
 				</div>
 			</ion-col>
 		</ion-row>

 		<ion-row>
 			<label>Phone Number</label>
 			<ion-col size="12">
 				<div class="formGroup">
 					
 					<input 
 					type="text" 
 					class="form-control s-form-v2__input g-radius--10" 
 					formControlName="phone"
 					placeholder="* Phone Number" 
 					required
 					>
 				</div>
 			</ion-col>
 		</ion-row>

 		<ion-row>
 			<ion-col>
 				<ion-list>
 					<ion-item>
 						<ion-label>Account Type</ion-label>
 						<ion-select 
 						value="Account Type" 
 						okText="Okay" 
 						cancelText="Dismiss"
 						formControlName="accountType"
 						placeholder="Account Type"
 						>
 						<ion-select-option value="farmer">Farmer</ion-select-option>
 						<ion-select-option value="vendor">Vendor</ion-select-option>
 						<ion-select-option value="customer">Customer</ion-select-option>
 					</ion-select>
 				</ion-item>
 			</ion-list>
 		</ion-col>
 	</ion-row>



 	<div class="inside">
          <button (click)="onSubmit()" class="btn-block s-btn s-btn--xs s-btn--primary-bg g-radius--50 g-padding-x-20--xs g-margin-b-20--xs g-font-size-14--xs"
          >Log Out</button>
        </div>

 </form>

</ion-content>




