 <ion-header [translucent]="true" class="ion-no-border">
 	<ion-toolbar class="header-color">
 		<ion-buttons slot="start" class="g-padding-l-20--xs g-font-size-18--xs">
 			<i class="fas fa-info-circle"></i>
 		</ion-buttons>

 		<ion-title class="ion-text-center">
 			Account Information
 		</ion-title>
 	</ion-toolbar>
 </ion-header>


 <ion-content>


 	<form [formGroup]="editForm" (ngSubmit)="onSubmit()" novalidate>

 		<ion-row>
 			<ion-col size="9">
 				<h2 class="g-font-size-24--xs g-color--primary">
 					Tell Us More <br>
 					<span class="light">About You</span>
 				</h2>
 			</ion-col>

 			<ion-col size="3" class="g-text-center--xs g-padding-t-20--xs">
 				<i class="ti-comment-alt g-font-size-40--xs g-color--primary"></i>
 			</ion-col>
 		</ion-row>

 		<div class="row">
 			<div class="col-xs-12" (click)="openCalModal()">
 				<img src="{{photoUrl}}" class="upload-user-img img-circle img-responsive">
 			</div>
 		</div>

 		<ion-row>
 			<ion-col>
 				<div class="formGroup">
 					<label>First Name</label>
 					<input 
 					type="text" 
 					class="form-control s-form-v2__input g-radius--10" 
 					formControlName="firstname"
 					placeholder="* First Name" 
 					required
 					>
 				</div>
 			</ion-col>
 		</ion-row>

 		<ion-row>
 			<ion-col>
 				<div class="formGroup">
 					<label>Last Name</label>
 					<input 
 					type="text" 
 					class="form-control s-form-v2__input g-radius--10" 
 					formControlName="lastname"
 					placeholder="* Last Name" 
 					required
 					>
 				</div>
 			</ion-col>
 		</ion-row>

 		<ion-row>
 			<label>Phone Number</label>
 			<ion-col size="12">
 				<div class="formGroup">
 					
 					<input 
 					type="text" 
 					class="form-control s-form-v2__input g-radius--10" 
 					formControlName="phone"
 					placeholder="* Phone Number" 
 					required
 					>
 				</div>
 			</ion-col>
 		</ion-row>

 		<ion-row>
 			<ion-col>
 				<ion-list>
 					<ion-item>
 						<ion-label>Location</ion-label>
 						<ion-select 
 						value="Location" 
 						okText="Okay" 
 						cancelText="Dismiss"
 						formControlName="location"
 						placeholder="City Location"
 						>
 						<ion-select-option value="Kigali">Kigali</ion-select-option>
 						<ion-select-option value="Eastern Province">Eastern Province</ion-select-option>
 						<ion-select-option value="Northern Province">Northern Province</ion-select-option>
 						<ion-select-option value="Southern Province">Southern Province</ion-select-option>
 						<ion-select-option value="Western Province">Western Province</ion-select-option>
 					</ion-select>
 				</ion-item>
 			</ion-list>
 		</ion-col>
 	</ion-row>

 	<ion-row>
 		<ion-col>
 			<ion-list>
 				<ion-item>
 					<ion-label>Account Type</ion-label>
 					<ion-select 
 					value="Account Type" 
 					okText="Okay" 
 					cancelText="Dismiss"
 					formControlName="accountType"
 					placeholder="Account Type"
 					>
 					<ion-select-option value="farmer">Farmer</ion-select-option>
 					<ion-select-option value="vendor">Vendor</ion-select-option>
 					<ion-select-option value="customer">Customer</ion-select-option>
 				</ion-select>
 			</ion-item>
 		</ion-list>
 	</ion-col>
 </ion-row>




 <div class="row g-margin-t-60--xs">
 	<div class="col-xs-12 g-text-center--xs">
 		<span (click)="onSubmit()"  class="g-display-block--xs g-display-inline-block--sm g-padding-x-5--xs g-margin-b-10--xs g-margin-b-0--sm">
 			<a class="text-uppercase s-btn s-btn-icon--md s-btn--primary-bg g-radius--50 g-padding-x-65--xs">Update Profile</a>
 		</span>
 	</div>
 </div>



</form>

</ion-content>




