ion-content {

	--background: #fff;
}

ion-item{
	--ion-background-color:#812B89;
}

ion-input{
	font-size: 18px;
	--background: transparent;
	color : #fff;
}

.form-input {
	--background: transparent;
}



.top {
	height: 30%;
}

.bordered {
	border-radius : 10px;
}


.auth-note {
	height : 100px;
}


.inside {
    position: absolute;
    bottom: 2px;
}

.loader-css-class {
   --background:#261bff;
   --spinner-color:#ffffff;
}