<ion-row>
	<ion-col size="9">
		<h2 class="g-font-size-24--xs g-color--primary">
			Track  <br>
			<span class="light">Your Goods.</span>
		</h2>
	</ion-col>

	<ion-col size="3" class="g-text-center--xs g-padding-t-20--xs">
		<i class="ti-map-alt g-font-size-40--xs g-color--primary"></i>
	</ion-col>
</ion-row>

<div class="map-wrapper">
    <div id="map_center">
      <img src="assets/icon/location-marker.png" />
    </div>
    <div #map id="map"></div>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="3">
        <b>Lattitude</b>
      </ion-col>
      <ion-col>
        {{latitude}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3">
        <b>Longitude</b>
      </ion-col>
      <ion-col>
        {{longitude}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3">
        <b>Address</b>
      </ion-col>
      <ion-col>
        {{address}}
      </ion-col>
    </ion-row>
  </ion-grid>

