ion-content {

	--background: rgb(129,43,137);
	--background: linear-gradient(124deg, rgba(129,43,137,1) 0%, rgba(109,32,116,1) 53%, rgba(162,67,171,1) 100%);
}


.post_cat {

}

.slides{
  margin-top: 10px;
  img{
    border-radius: 5px;
    box-shadow: -1px 11px 13px -6px rgb(87, 86, 86);
  }

  .title{
    position: absolute;
    bottom: 0;
    color: white;
    text-align: left;
    font-weight: bold;
    padding: 10px;
    text-shadow: 1px 1px 2px grey;
  }
}
ion-slide{
  padding-bottom: 20px;
}

.post {
	height : 80px;
	padding : 5px;
	border-bottom:  1px solid #ccc;
	margin-bottom: 5px;
}
.post-image {
	border-radius : 5px;
}

.post-image
{
  position: relative;
}

.title-text {
	font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
