<ion-card class="g-bg-color--white" *ngFor="let tip of allTips | slice:0:1; let i=index">
		<ion-item lines="full">
			<i class="ti-face-smile g-font-size-16--xs g-color--primary" slot="start"></i>
			<ion-label>
				<h2 class="g-font-size-12--xs" [routerLink]="['/tip', tip.id]">{{tip.tip}}</h2>
			</ion-label>
			<i class="ti-list g-font-size-16--xs g-color--primary" slot="end"></i>
		</ion-item>
		<ion-card-content [routerLink]="['/tip', tip.id]">
			<img src="assets/img/test.png" alt="">
			<p class="g-font-size-12--xs">{{tip.main}}</p>
		</ion-card-content>
</ion-card>

<ion-row class="post_cat">
	<ion-col>
		<ion-slides class="slides" [options]='slideOpts'>
			<ion-slide *ngFor="let post_cat of posts_cat; index as i">
				<div [routerLink]="['/postcat', post_cat.post_category]">
					<img src="{{post_cat.postc_image}}">
				</div>
			</ion-slide>
		</ion-slides>
	</ion-col>
</ion-row>


<span *ngFor="let post of posts">
	<ion-row class="post" [routerLink]="['/post', post.id]">
		<ion-col size="9">
			<span class="g-font-size-12--xs g-color--primary title-text cap-me">{{post.post_title | slice:0:30}}</span>
			<span class="g-font-size-10--xs g-color--primary pull-right">{{post.post_category}}</span>
			<p>
				{{post.post_main | slice:0:80}} ...
			</p>
		</ion-col>
		<ion-col size="3">
			<img class="img-responsive post-image" src="{{post.post_image}}" alt="{{post.post_name}}">
		</ion-col>
	</ion-row>
</span>











